; EditorConfig is awesome: http://EditorConfig.org

; top-most EditorConfig file
root = true

; Base rules
[*]
end_of_line = lf
insert_final_newline = false
indent_style = space
indent_size = 4
charset = utf-8
trim_trailing_whitespace = true

; CoffeeScript
[*.coffee]
indent_style = space
indent_size = 2

; CSS
[*.css]
indent_style = space
indent_size = 2

; HTML/XML
[*.{html,htm,xml,plist}]
indent_style = space
indent_size = 2

; JavaScript
[*.js]
indent_style = space
indent_size = 2

; PHP
[*.php]
indent_style = tab
indent_size = 4

; Python
[*.py]
indent_style = space
indent_size = 4

; TOML
[*.toml]
indent_style = space
indent_size = 2

; YAML
[*.{yaml,yml}]
indent_style = space
indent_size = 2

; File specific
; .gitignore
[.gitignore]
indent_style = tab
indent_size = 4
