# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
end_of_line = lf
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

# Markdown
[*.{md,markdown}]
trim_trailing_whitespace = false

# Git configuration
[{.gitattributes,.gitignore}]
indent_style = tab
tab_width = 4

# Web frontend coding
[*.{css,html,js,json,vue}]
indent_style = space
indent_size = 2
