[color]
	branch = auto
	diff = auto
	status = auto
	ui = true
[core]
	autocrlf = input
	editor = code --wait
	excludesfile = ~/.gitignore
	quotepath = false
[diff]
	tool = vscode
[difftool "vim"]
	cmd = vim -d $LOCAL $REMOTE
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[gc]
	auto = 3000
	autopacklimit = 20
[merge]
	ff = true
	tool = vscode
[mergetool "vim"]
	cmd = vim -d $LOCAL $MERGED $REMOTE
	keepbackup = false
[mergetool "vscode"]
	cmd = code --wait $MERGED
[pull]
	rebase = false
[transfer]
	fsckObjects = false
	unpackLimit = 10
[user]
	email = lagfer@youck.org
	name = Yu I.
