[color]
	branch = auto
	diff = auto
	status = auto
	ui = true
[core]
	autocrlf = input
	excludesfile = ~/.gitignore
	quotepath = false
[gc]
	auto = 3000
	autopacklimit = 20
[transfer]
	unpackLimit = 10
	fsckObjects = false
[diff]
	tool = vscode
[difftool "vim"]
	cmd = vim -d $LOCAL $REMOTE
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[merge]
	ff = true
	tool = vscode
[mergetool "vim"]
	cmd = vim -d $LOCAL $MERGED $REMOTE
	keepbackup = false
[mergetool "vscode"]
	cmd = code --wait $MERGED
[user]
	name = Yu I.
	email = lagfer@youck.org
