[color]
	branch = auto
	diff = auto
	status = auto
	ui = true
[core]
	autocrlf = input
	excludesfile = ~/.gitignore
[gc]
	auto = 3000
	autopacklimit = 20
[transfer]
	unpackLimit = 10
	fsckObjects = true
[diff]
	tool = vim
[difftool "vim"]
	cmd = vim -d $LOCAL $REMOTE
[merge]
	ff = true
	tool = vim
[mergetool "vim"]
	cmd = vim -d $LOCAL $MERGED $REMOTE
	keepbackup = false
